USE_FORM=true
USE_QRCODE=true
REDIS_URL=redis://localhost:6379/0
DEVICE_ID_HEADER=X-Device-Id
API_KEY_HEADER=X-Api-Key
BASE_URL=https://<SEU_DOMINIO>.ngrok.app

MONGO_URI=mongodb://localhost:27017/
MONGO_DB=polenguinho_db
MONGO_TLS=false
JWT_SECRET=<JWT_SECRET>
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ADMIN_CREATION_TOKEN=<ADMIN_CREATION_TOKEN>
LOG_API=https://logcenterdev.dbpe.com.br
LOG_ID=<LOG_ID>
LOG_PROJECT_ID=<LOG_PROJECT_ID>
LOG_API_KEY=<LOG_API_KEY>
CADASTRO_BASE_URL=http://localhost:8000/api/sample/welcome
SAMPLE_ADMIN_USER=sampleadmin
SAMPLE_ADMIN_PASSWORD=<SAMPLE_ADMIN_PASSWORD>
SERIAL_PORT=COM6
SERIAL_BAUDRATE=115200
SERIAL_FAKE=false
UDP_PORT=5004
DROP_CODE=<DROP_CODE>
PICKUP_COOLDOWN_HOURS=12
PICKUP_COOKIE_BLOCK_HOURS=12
USER_RECALL_HOURS=720
PICKUP_TIMEOUT_SECONDS=60
SAMPLE_OPEN_HOUR=10
SAMPLE_CLOSE_HOUR=20
SAMPLE_TIMEZONE=America/Sao_Paulo
ENCRYPTION_ENABLED=false
